# 找出台指期 每日最高、最低價出現時間點，並統計時間相關性

### 一、引入lib 匯入讀取資料

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

file_name = "./高低點時間.xlsx"
df = pd.read_excel(file_name, header=0)
df

             日期        時間    開盤價    最高價    最低價    收盤價    成交量
0    2018-07-25  10:15:00  10876  10892  10873  10879   7461
1    2018-07-25  10:30:00  10879  10885  10871  10881   4212
2    2018-07-25  10:45:00  10883  10886  10878  10883   2403
3    2018-07-25  11:00:00  10882  10887  10877  10884   2193
4    2018-07-25  11:15:00  10884  10888  10879  10882   1978
5    2018-07-25  11:30:00  10881  10882  10866  10872   4916
6    2018-07-25  11:45:00  10872  10874  10865  10872   2557
7    2018-07-25  12:00:00  10872  10873  10867  10870   1469
8    2018-07-25  12:15:00  10869  10878  10869  10871   2378
9    2018-07-25  12:30:00  10872  10877  10870  10872   1472
10   2018-07-25  12:45:00  10873  10880  10872  10876   3086
11   2018-07-25  13:00:00  10875  10880  10868  10876   3640
12   2018-07-25  13:15:00  10875  10876  10869  10875   2808
13   2018-07-25  13:30:00  10875  10875  10864  10865   3575
14   2018-07-26  08:45:00  10909  10916  10903  10906   8884
15   2018-07-26  09:00:00  10906  10920  10893  10903  14375
16   2018-07-26  09:15:00  10904  10924  10897  10918   9625
17   2018-07-26  09:30:00  10917  10926  10895  10904  13323
18   2018-07-26  09:45:00  10904  10910  10895  10895   6499
19   2018-07-26  10:00:00  10895  10897  10875  10880  13332
20   2018-07-26  10:15:00  10880  10892  10873  10890   6040
21   2018-07-26  10:30:00  10890  10895  10880  10883   4402
22   2018-07-26  10:45:00  10884  10896  10877  10891   5253
23   2018-07-26  11:00:00  10890  10894  10885  10892   2678
24   2018-07-26  11:15:00  10891  10893  10885  10887   2420
25   2018-07-26  11:30:00  10888  10900  10887  10895   3209
26   2018-07-26  11:45:00  10895  10897  10889  10890   2196
27   2018-07-26  12:00:00  10890  10896  10888  10895   1329
28   2018-07-26  12:15:00  10895  10898  10887  10897   2649
29   2018-07-26  12:30:00  10897  10903  10893  10899   2069
...         ...       ...    ...    ...    ...    ...    ...
2259 2019-01-03  11:15:00   9472   9480   9460   9476   4313
2260 2019-01-03  11:30:00   9476   9482   9468   9481   2663
2261 2019-01-03  11:45:00   9480   9481   9465   9471   2954
2262 2019-01-03  12:00:00   9470   9477   9468   9472   1682
2263 2019-01-03  12:15:00   9472   9472   9463   9470   1992
2264 2019-01-03  12:30:00   9470   9479   9462   9479   2962
2265 2019-01-03  12:45:00   9478   9481   9470   9471   2176
2266 2019-01-03  13:00:00   9471   9475   9440   9441   5036
2267 2019-01-03  13:15:00   9442   9466   9440   9465   5345
2268 2019-01-03  13:30:00   9465   9470   9438   9440   8120
2269 2019-01-04  08:45:00   9367   9394   9355   9374  11101
2270 2019-01-04  09:00:00   9374   9381   9341   9364  17426
2271 2019-01-04  09:15:00   9363   9368   9308   9308  16774
2272 2019-01-04  09:30:00   9308   9364   9305   9353  16830
2273 2019-01-04  09:45:00   9354   9398   9350   9374  16512
2274 2019-01-04  10:00:00   9376   9377   9341   9342   8879
2275 2019-01-04  10:15:00   9341   9366   9331   9360   9418
2276 2019-01-04  10:30:00   9359   9380   9348   9380   7120
2277 2019-01-04  10:45:00   9380   9389   9367   9388   6397
2278 2019-01-04  11:00:00   9389   9407   9377   9397   8925
2279 2019-01-04  11:15:00   9397   9410   9388   9407   5949
2280 2019-01-04  11:30:00   9407   9408   9382   9388   4934
2281 2019-01-04  11:45:00   9387   9394   9381   9391   3913
2282 2019-01-04  12:00:00   9391   9393   9381   9387   2638
2283 2019-01-04  12:15:00   9386   9389   9376   9381   3254
2284 2019-01-04  12:30:00   9380   9380   9356   9358   5215
2285 2019-01-04  12:45:00   9359   9382   9356   9375   4551
2286 2019-01-04  13:00:00   9375   9378   9361   9363   3944
2287 2019-01-04  13:15:00   9362   9378   9359   9367   4956
2288 2019-01-04  13:30:00   9366   9383   9362   9367   9868

[2289 rows x 7 columns]

### 二、將每日最高最低價找出來並記錄時間點

In [77]:
day_high = {}
day_low = {}
date_list = df['日期'].unique()
time_zone = df['時間'].unique()
time_zone.sort()

for the_date in date_list:
    # 篩選出同日期的資料 
    new_df = df[df['日期'] == the_date]
    
    # 找出某天最高價位&最低價位的index位置
    high_idx = new_df['最高價'].idxmax()
    low_idx = new_df['最低價'].idxmin()

    # 將當日最高最低價打包成list
    day_high_list = df.iloc[high_idx][['時間', '最高價']]
    day_low_list = df.iloc[low_idx][['時間', '最低價']]
#     print(date)
    # 同步至外層dict，加上date的 key 值
    day_high.update({the_date: day_high_list})
    day_low.update({the_date: day_low_list})
    
print(day_high, day_low)

{numpy.datetime64('2018-07-25T00:00:00.000000000'): 時間     10:15:00
最高價       10892
Name: 0, dtype: object, numpy.datetime64('2018-07-26T00:00:00.000000000'): 時間     09:30:00
最高價       10926
Name: 17, dtype: object, numpy.datetime64('2018-07-27T00:00:00.000000000'): 時間     13:30:00
最高價       10995
Name: 53, dtype: object, numpy.datetime64('2018-07-30T00:00:00.000000000'): 時間     09:30:00
最高價       11007
Name: 57, dtype: object, numpy.datetime64('2018-07-31T00:00:00.000000000'): 時間     10:30:00
最高價       10997
Name: 81, dtype: object, numpy.datetime64('2018-08-01T00:00:00.000000000'): 時間     13:15:00
最高價       11057
Name: 112, dtype: object, numpy.datetime64('2018-08-02T00:00:00.000000000'): 時間     08:45:00
最高價       11048
Name: 114, dtype: object, numpy.datetime64('2018-08-03T00:00:00.000000000'): 時間     12:00:00
最高價       10977
Name: 147, dtype: object, numpy.datetime64('2018-08-06T00:00:00.000000000'): 時間     10:15:00
最高價       11036
Name: 160, dtype: object, numpy.datetime64('2018-08-07T00:00:00.000000000'): 時間     09:30:00
最高價       11003
Name: 177, dtype: object, numpy.datetime64('2018-08-08T00:00:00.000000000'): 時間     10:45:00
最高價       11070
Name: 202, dtype: object, numpy.datetime64('2018-08-09T00:00:00.000000000'): 時間     10:45:00
最高價       11038
Name: 222, dtype: object, numpy.datetime64('2018-08-10T00:00:00.000000000'): 時間     09:45:00
最高價       11022
Name: 238, dtype: object, numpy.datetime64('2018-08-13T00:00:00.000000000'): 時間     08:45:00
最高價       10912
Name: 254, dtype: object, numpy.datetime64('2018-08-14T00:00:00.000000000'): 時間     12:45:00
最高價       10831
Name: 290, dtype: object, numpy.datetime64('2018-08-15T00:00:00.000000000'): 時間     08:45:00
最高價       10841
Name: 294, dtype: object, numpy.datetime64('2018-08-16T00:00:00.000000000'): 時間     10:00:00
最高價       10724
Name: 318, dtype: object, numpy.datetime64('2018-08-17T00:00:00.000000000'): 時間     09:15:00
最高價       10732
Name: 335, dtype: object, numpy.datetime64('2018-08-20T00:00:00.000000000'): 時間     10:30:00
最高價       10715
Name: 360, dtype: object, numpy.datetime64('2018-08-21T00:00:00.000000000'): 時間     11:15:00
最高價       10774
Name: 383, dtype: object, numpy.datetime64('2018-08-22T00:00:00.000000000'): 時間     11:45:00
最高價       10795
Name: 405, dtype: object, numpy.datetime64('2018-08-23T00:00:00.000000000'): 時間     13:30:00
最高價       10845
Name: 432, dtype: object, numpy.datetime64('2018-08-24T00:00:00.000000000'): 時間     09:00:00
最高價       10830
Name: 434, dtype: object, numpy.datetime64('2018-08-27T00:00:00.000000000'): 時間     13:00:00
最高價       10892
Name: 470, dtype: object, numpy.datetime64('2018-08-28T00:00:00.000000000'): 時間     11:15:00
最高價       10980
Name: 483, dtype: object, numpy.datetime64('2018-08-29T00:00:00.000000000'): 時間     13:30:00
最高價       11049
Name: 512, dtype: object, numpy.datetime64('2018-08-30T00:00:00.000000000'): 時間     09:15:00
最高價       11135
Name: 515, dtype: object, numpy.datetime64('2018-08-31T00:00:00.000000000'): 時間     13:30:00
最高價       11024
Name: 552, dtype: object, numpy.datetime64('2018-09-03T00:00:00.000000000'): 時間     08:45:00
最高價       11045
Name: 553, dtype: object, numpy.datetime64('2018-09-04T00:00:00.000000000'): 時間     13:30:00
最高價       11004
Name: 592, dtype: object, numpy.datetime64('2018-09-05T00:00:00.000000000'): 時間     09:30:00
最高價       11021
Name: 596, dtype: object, numpy.datetime64('2018-09-06T00:00:00.000000000'): 時間     10:45:00
最高價       10950
Name: 621, dtype: object, numpy.datetime64('2018-09-07T00:00:00.000000000'): 時間     10:00:00
最高價       10892
Name: 638, dtype: object, numpy.datetime64('2018-09-10T00:00:00.000000000'): 時間     08:45:00
最高價       10880
Name: 653, dtype: object, numpy.datetime64('2018-09-11T00:00:00.000000000'): 時間     08:45:00
最高價       10767
Name: 673, dtype: object, numpy.datetime64('2018-09-12T00:00:00.000000000'): 時間     08:45:00
最高價       10772
Name: 693, dtype: object, numpy.datetime64('2018-09-13T00:00:00.000000000'): 時間     09:30:00
最高價       10779
Name: 716, dtype: object, numpy.datetime64('2018-09-14T00:00:00.000000000'): 時間     13:15:00
最高價       10887
Name: 751, dtype: object, numpy.datetime64('2018-09-17T00:00:00.000000000'): 時間     09:30:00
最高價       10868
Name: 756, dtype: object, numpy.datetime64('2018-09-18T00:00:00.000000000'): 時間     10:00:00
最高價       10818
Name: 778, dtype: object, numpy.datetime64('2018-09-19T00:00:00.000000000'): 時間     13:00:00
最高價       10875
Name: 810, dtype: object, numpy.datetime64('2018-09-20T00:00:00.000000000'): 時間     09:00:00
最高價       10922
Name: 813, dtype: object, numpy.datetime64('2018-09-21T00:00:00.000000000'): 時間     13:30:00
最高價       10976
Name: 851, dtype: object, numpy.datetime64('2018-09-25T00:00:00.000000000'): 時間     11:00:00
最高價       10996
Name: 861, dtype: object, numpy.datetime64('2018-09-26T00:00:00.000000000'): 時間     09:15:00
最高價       10991
Name: 874, dtype: object, numpy.datetime64('2018-09-27T00:00:00.000000000'): 時間     11:00:00
最高價       11011
Name: 901, dtype: object, numpy.datetime64('2018-09-28T00:00:00.000000000'): 時間     09:45:00
最高價       11039
Name: 916, dtype: object, numpy.datetime64('2018-10-01T00:00:00.000000000'): 時間     11:00:00
最高價       11018
Name: 941, dtype: object, numpy.datetime64('2018-10-02T00:00:00.000000000'): 時間     08:45:00
最高價       11011
Name: 952, dtype: object, numpy.datetime64('2018-10-03T00:00:00.000000000'): 時間     10:15:00
最高價       10914
Name: 978, dtype: object, numpy.datetime64('2018-10-04T00:00:00.000000000'): 時間     08:45:00
最高價       10830
Name: 992, dtype: object, numpy.datetime64('2018-10-05T00:00:00.000000000'): 時間     08:45:00
最高價       10673
Name: 1012, dtype: object, numpy.datetime64('2018-10-08T00:00:00.000000000'): 時間     09:15:00
最高價       10530
Name: 1034, dtype: object, numpy.datetime64('2018-10-09T00:00:00.000000000'): 時間     12:30:00
最高價       10508
Name: 1067, dtype: object, numpy.datetime64('2018-10-11T00:00:00.000000000'): 時間     08:45:00
最高價       10080
Name: 1072, dtype: object, numpy.datetime64('2018-10-12T00:00:00.000000000'): 時間     13:15:00
最高價       10021
Name: 1110, dtype: object, numpy.datetime64('2018-10-15T00:00:00.000000000'): 時間     09:15:00
最高價        9927
Name: 1114, dtype: object, numpy.datetime64('2018-10-16T00:00:00.000000000'): 時間     10:00:00
最高價        9992
Name: 1137, dtype: object, numpy.datetime64('2018-10-17T00:00:00.000000000'): 時間     09:00:00
最高價       10114
Name: 1153, dtype: object, numpy.datetime64('2018-10-18T00:00:00.000000000'): 時間     09:15:00
最高價        9986
Name: 1173, dtype: object, numpy.datetime64('2018-10-19T00:00:00.000000000'): 時間     13:30:00
最高價        9914
Name: 1210, dtype: object, numpy.datetime64('2018-10-22T00:00:00.000000000'): 時間     11:30:00
最高價        9972
Name: 1222, dtype: object, numpy.datetime64('2018-10-23T00:00:00.000000000'): 時間     09:30:00
最高價        9849
Name: 1234, dtype: object, numpy.datetime64('2018-10-24T00:00:00.000000000'): 時間     12:15:00
最高價        9791
Name: 1265, dtype: object, numpy.datetime64('2018-10-25T00:00:00.000000000'): 時間     11:30:00
最高價        9557
Name: 1282, dtype: object, numpy.datetime64('2018-10-26T00:00:00.000000000'): 時間     09:00:00
最高價        9573
Name: 1292, dtype: object, numpy.datetime64('2018-10-29T00:00:00.000000000'): 時間     09:00:00
最高價        9539
Name: 1312, dtype: object, numpy.datetime64('2018-10-30T00:00:00.000000000'): 時間     09:30:00
最高價        9564
Name: 1334, dtype: object, numpy.datetime64('2018-10-31T00:00:00.000000000'): 時間     13:30:00
最高價        9748
Name: 1370, dtype: object, numpy.datetime64('2018-11-01T00:00:00.000000000'): 時間     10:00:00
最高價        9827
Name: 1376, dtype: object, numpy.datetime64('2018-11-02T00:00:00.000000000'): 時間     08:45:00
最高價        9884
Name: 1391, dtype: object, numpy.datetime64('2018-11-05T00:00:00.000000000'): 時間     10:00:00
最高價        9824
Name: 1416, dtype: object, numpy.datetime64('2018-11-06T00:00:00.000000000'): 時間     08:45:00
最高價        9867
Name: 1431, dtype: object, numpy.datetime64('2018-11-07T00:00:00.000000000'): 時間     11:30:00
最高價        9890
Name: 1462, dtype: object, numpy.datetime64('2018-11-08T00:00:00.000000000'): 時間     08:45:00
最高價       10000
Name: 1471, dtype: object, numpy.datetime64('2018-11-09T00:00:00.000000000'): 時間     08:45:00
最高價        9899
Name: 1491, dtype: object, numpy.datetime64('2018-11-12T00:00:00.000000000'): 時間     09:30:00
最高價        9864
Name: 1514, dtype: object, numpy.datetime64('2018-11-13T00:00:00.000000000'): 時間     12:00:00
最高價        9758
Name: 1544, dtype: object, numpy.datetime64('2018-11-14T00:00:00.000000000'): 時間     09:15:00
最高價        9798
Name: 1553, dtype: object, numpy.datetime64('2018-11-15T00:00:00.000000000'): 時間     08:45:00
最高價        9837
Name: 1571, dtype: object, numpy.datetime64('2018-11-16T00:00:00.000000000'): 時間     08:45:00
最高價        9903
Name: 1591, dtype: object, numpy.datetime64('2018-11-19T00:00:00.000000000'): 時間     09:15:00
最高價        9838
Name: 1613, dtype: object, numpy.datetime64('2018-11-20T00:00:00.000000000'): 時間     09:45:00
最高價        9808
Name: 1635, dtype: object, numpy.datetime64('2018-11-21T00:00:00.000000000'): 時間     12:45:00
最高價        9760
Name: 1667, dtype: object, numpy.datetime64('2018-11-22T00:00:00.000000000'): 時間     08:45:00
最高價        9769
Name: 1670, dtype: object, numpy.datetime64('2018-11-23T00:00:00.000000000'): 時間     08:45:00
最高價        9733
Name: 1690, dtype: object, numpy.datetime64('2018-11-26T00:00:00.000000000'): 時間     09:00:00
最高價        9850
Name: 1711, dtype: object, numpy.datetime64('2018-11-27T00:00:00.000000000'): 時間     13:15:00
最高價        9755
Name: 1748, dtype: object, numpy.datetime64('2018-11-28T00:00:00.000000000'): 時間     13:15:00
最高價        9880
Name: 1768, dtype: object, numpy.datetime64('2018-11-29T00:00:00.000000000'): 時間     09:00:00
最高價        9989
Name: 1771, dtype: object, numpy.datetime64('2018-11-30T00:00:00.000000000'): 時間     09:45:00
最高價        9935
Name: 1794, dtype: object, numpy.datetime64('2018-12-03T00:00:00.000000000'): 時間     12:30:00
最高價       10156
Name: 1825, dtype: object, numpy.datetime64('2018-12-04T00:00:00.000000000'): 時間     10:30:00
最高價       10094
Name: 1837, dtype: object, numpy.datetime64('2018-12-05T00:00:00.000000000'): 時間     10:00:00
最高價        9946
Name: 1855, dtype: object, numpy.datetime64('2018-12-06T00:00:00.000000000'): 時間     08:45:00
最高價        9814
Name: 1870, dtype: object, numpy.datetime64('2018-12-07T00:00:00.000000000'): 時間     12:45:00
最高價        9763
Name: 1906, dtype: object, numpy.datetime64('2018-12-10T00:00:00.000000000'): 時間     09:45:00
最高價        9680
Name: 1914, dtype: object, numpy.datetime64('2018-12-11T00:00:00.000000000'): 時間     11:15:00
最高價        9698
Name: 1940, dtype: object, numpy.datetime64('2018-12-12T00:00:00.000000000'): 時間     13:00:00
最高價        9827
Name: 1967, dtype: object, numpy.datetime64('2018-12-13T00:00:00.000000000'): 時間     11:30:00
最高價        9872
Name: 1981, dtype: object, numpy.datetime64('2018-12-14T00:00:00.000000000'): 時間     08:45:00
最高價        9809
Name: 1990, dtype: object, numpy.datetime64('2018-12-17T00:00:00.000000000'): 時間     09:45:00
最高價        9826
Name: 2014, dtype: object, numpy.datetime64('2018-12-18T00:00:00.000000000'): 時間     09:45:00
最高價        9755
Name: 2034, dtype: object, numpy.datetime64('2018-12-19T00:00:00.000000000'): 時間     12:30:00
最高價        9778
Name: 2065, dtype: object, numpy.datetime64('2018-12-20T00:00:00.000000000'): 時間     11:00:00
最高價        9709
Name: 2078, dtype: object, numpy.datetime64('2018-12-21T00:00:00.000000000'): 時間     13:15:00
最高價        9668
Name: 2107, dtype: object, numpy.datetime64('2018-12-22T00:00:00.000000000'): 時間     09:15:00
最高價        9615
Name: 2111, dtype: object, numpy.datetime64('2018-12-24T00:00:00.000000000'): 時間     09:00:00
最高價        9627
Name: 2130, dtype: object, numpy.datetime64('2018-12-25T00:00:00.000000000'): 時間     12:30:00
最高價        9487
Name: 2164, dtype: object, numpy.datetime64('2018-12-26T00:00:00.000000000'): 時間     09:00:00
最高價        9555
Name: 2170, dtype: object, numpy.datetime64('2018-12-27T00:00:00.000000000'): 時間     12:30:00
最高價        9655
Name: 2204, dtype: object, numpy.datetime64('2018-12-28T00:00:00.000000000'): 時間     13:30:00
最高價        9680
Name: 2228, dtype: object, numpy.datetime64('2019-01-02T00:00:00.000000000'): 時間     08:45:00
最高價        9762
Name: 2229, dtype: object, numpy.datetime64('2019-01-03T00:00:00.000000000'): 時間     10:00:00
最高價        9547
Name: 2254, dtype: object, numpy.datetime64('2019-01-04T00:00:00.000000000'): 時間     11:15:00
最高價        9410
Name: 2279, dtype: object} {numpy.datetime64('2018-07-25T00:00:00.000000000'): 時間     13:30:00
最低價       10864
Name: 13, dtype: object, numpy.datetime64('2018-07-26T00:00:00.000000000'): 時間     10:15:00
最低價       10873
Name: 20, dtype: object, numpy.datetime64('2018-07-27T00:00:00.000000000'): 時間     09:00:00
最低價       10918
Name: 35, dtype: object, numpy.datetime64('2018-07-30T00:00:00.000000000'): 時間     12:15:00
最低價       10937
Name: 68, dtype: object, numpy.datetime64('2018-07-31T00:00:00.000000000'): 時間     09:00:00
最低價       10913
Name: 75, dtype: object, numpy.datetime64('2018-08-01T00:00:00.000000000'): 時間     09:30:00
最低價       11010
Name: 97, dtype: object, numpy.datetime64('2018-08-02T00:00:00.000000000'): 時間     13:15:00
最低價       10862
Name: 132, dtype: object, numpy.datetime64('2018-08-03T00:00:00.000000000'): 時間     09:45:00
最低價       10928
Name: 138, dtype: object, numpy.datetime64('2018-08-06T00:00:00.000000000'): 時間     09:00:00
最低價       10956
Name: 155, dtype: object, numpy.datetime64('2018-08-07T00:00:00.000000000'): 時間     10:15:00
最低價       10951
Name: 180, dtype: object, numpy.datetime64('2018-08-08T00:00:00.000000000'): 時間     08:45:00
最低價       10997
Name: 194, dtype: object, numpy.datetime64('2018-08-09T00:00:00.000000000'): 時間     09:15:00
最低價       10969
Name: 216, dtype: object, numpy.datetime64('2018-08-10T00:00:00.000000000'): 時間     08:45:00
最低價       10953
Name: 234, dtype: object, numpy.datetime64('2018-08-13T00:00:00.000000000'): 時間     12:15:00
最低價       10692
Name: 268, dtype: object, numpy.datetime64('2018-08-14T00:00:00.000000000'): 時間     11:00:00
最低價       10756
Name: 283, dtype: object, numpy.datetime64('2018-08-15T00:00:00.000000000'): 時間     12:15:00
最低價       10696
Name: 308, dtype: object, numpy.datetime64('2018-08-16T00:00:00.000000000'): 時間     09:00:00
最低價       10591
Name: 314, dtype: object, numpy.datetime64('2018-08-17T00:00:00.000000000'): 時間     13:00:00
最低價       10647
Name: 350, dtype: object, numpy.datetime64('2018-08-20T00:00:00.000000000'): 時間     09:30:00
最低價       10652
Name: 356, dtype: object, numpy.datetime64('2018-08-21T00:00:00.000000000'): 時間     09:00:00
最低價       10682
Name: 374, dtype: object, numpy.datetime64('2018-08-22T00:00:00.000000000'): 時間     09:45:00
最低價       10733
Name: 397, dtype: object, numpy.datetime64('2018-08-23T00:00:00.000000000'): 時間     09:45:00
最低價       10758
Name: 417, dtype: object, numpy.datetime64('2018-08-24T00:00:00.000000000'): 時間     09:45:00
最低價       10728
Name: 437, dtype: object, numpy.datetime64('2018-08-27T00:00:00.000000000'): 時間     10:30:00
最低價       10820
Name: 460, dtype: object, numpy.datetime64('2018-08-28T00:00:00.000000000'): 時間     08:45:00
最低價       10935
Name: 473, dtype: object, numpy.datetime64('2018-08-29T00:00:00.000000000'): 時間     08:45:00
最低價       10968
Name: 493, dtype: object, numpy.datetime64('2018-08-30T00:00:00.000000000'): 時間     13:30:00
最低價       11019
Name: 532, dtype: object, numpy.datetime64('2018-08-31T00:00:00.000000000'): 時間     10:30:00
最低價       10953
Name: 540, dtype: object, numpy.datetime64('2018-09-03T00:00:00.000000000'): 時間     13:00:00
最低價       10919
Name: 570, dtype: object, numpy.datetime64('2018-09-04T00:00:00.000000000'): 時間     09:30:00
最低價       10935
Name: 576, dtype: object, numpy.datetime64('2018-09-05T00:00:00.000000000'): 時間     13:30:00
最低價       10948
Name: 612, dtype: object, numpy.datetime64('2018-09-06T00:00:00.000000000'): 時間     09:15:00
最低價       10865
Name: 615, dtype: object, numpy.datetime64('2018-09-07T00:00:00.000000000'): 時間     12:30:00
最低價       10803
Name: 648, dtype: object, numpy.datetime64('2018-09-10T00:00:00.000000000'): 時間     12:30:00
最低價       10708
Name: 668, dtype: object, numpy.datetime64('2018-09-11T00:00:00.000000000'): 時間     10:45:00
最低價       10682
Name: 681, dtype: object, numpy.datetime64('2018-09-12T00:00:00.000000000'): 時間     12:30:00
最低價       10687
Name: 708, dtype: object, numpy.datetime64('2018-09-13T00:00:00.000000000'): 時間     13:15:00
最低價       10709
Name: 731, dtype: object, numpy.datetime64('2018-09-14T00:00:00.000000000'): 時間     09:45:00
最低價       10771
Name: 737, dtype: object, numpy.datetime64('2018-09-17T00:00:00.000000000'): 時間     11:15:00
最低價       10810
Name: 763, dtype: object, numpy.datetime64('2018-09-18T00:00:00.000000000'): 時間     10:30:00
最低價       10761
Name: 780, dtype: object, numpy.datetime64('2018-09-19T00:00:00.000000000'): 時間     09:15:00
最低價       10819
Name: 795, dtype: object, numpy.datetime64('2018-09-20T00:00:00.000000000'): 時間     10:00:00
最低價       10824
Name: 817, dtype: object, numpy.datetime64('2018-09-21T00:00:00.000000000'): 時間     09:15:00
最低價       10854
Name: 834, dtype: object, numpy.datetime64('2018-09-25T00:00:00.000000000'): 時間     09:00:00
最低價       10935
Name: 853, dtype: object, numpy.datetime64('2018-09-26T00:00:00.000000000'): 時間     13:00:00
最低價       10949
Name: 889, dtype: object, numpy.datetime64('2018-09-27T00:00:00.000000000'): 時間     08:45:00
最低價       10936
Name: 892, dtype: object, numpy.datetime64('2018-09-28T00:00:00.000000000'): 時間     11:15:00
最低價       10921
Name: 922, dtype: object, numpy.datetime64('2018-10-01T00:00:00.000000000'): 時間     08:45:00
最低價       10966
Name: 932, dtype: object, numpy.datetime64('2018-10-02T00:00:00.000000000'): 時間     11:30:00
最低價       10873
Name: 963, dtype: object, numpy.datetime64('2018-10-03T00:00:00.000000000'): 時間     12:00:00
最低價       10845
Name: 985, dtype: object, numpy.datetime64('2018-10-04T00:00:00.000000000'): 時間     11:45:00
最低價       10688
Name: 1004, dtype: object, numpy.datetime64('2018-10-05T00:00:00.000000000'): 時間     10:30:00
最低價       10431
Name: 1019, dtype: object, numpy.datetime64('2018-10-08T00:00:00.000000000'): 時間     10:00:00
最低價       10416
Name: 1037, dtype: object, numpy.datetime64('2018-10-09T00:00:00.000000000'): 時間     09:00:00
最低價       10447
Name: 1053, dtype: object, numpy.datetime64('2018-10-11T00:00:00.000000000'): 時間     13:30:00
最低價        9630
Name: 1091, dtype: object, numpy.datetime64('2018-10-12T00:00:00.000000000'): 時間     09:00:00
最低價        9683
Name: 1093, dtype: object, numpy.datetime64('2018-10-15T00:00:00.000000000'): 時間     09:00:00
最低價        9854
Name: 1113, dtype: object, numpy.datetime64('2018-10-16T00:00:00.000000000'): 時間     09:00:00
最低價        9868
Name: 1133, dtype: object, numpy.datetime64('2018-10-17T00:00:00.000000000'): 時間     13:00:00
最低價        9987
Name: 1169, dtype: object, numpy.datetime64('2018-10-18T00:00:00.000000000'): 時間     13:00:00
最低價        9878
Name: 1188, dtype: object, numpy.datetime64('2018-10-19T00:00:00.000000000'): 時間     08:45:00
最低價        9747
Name: 1191, dtype: object, numpy.datetime64('2018-10-22T00:00:00.000000000'): 時間     09:15:00
最低價        9761
Name: 1213, dtype: object, numpy.datetime64('2018-10-23T00:00:00.000000000'): 時間     13:30:00
最低價        9723
Name: 1250, dtype: object, numpy.datetime64('2018-10-24T00:00:00.000000000'): 時間     09:15:00
最低價        9623
Name: 1253, dtype: object, numpy.datetime64('2018-10-25T00:00:00.000000000'): 時間     08:45:00
最低價        9414
Name: 1271, dtype: object, numpy.datetime64('2018-10-26T00:00:00.000000000'): 時間     11:30:00
最低價        9339
Name: 1302, dtype: object, numpy.datetime64('2018-10-29T00:00:00.000000000'): 時間     10:30:00
最低價        9428
Name: 1318, dtype: object, numpy.datetime64('2018-10-30T00:00:00.000000000'): 時間     08:45:00
最低價        9463

### 三、得到 day_high & day_low 字典後，開始進行表格充新整理，以利繪圖

In [167]:
# 整理成只有 day_high, day_low timming 的 df
high_timming = []
low_timming = []

for date_data in day_high.values():
    high_timming.append(date_data[0])
for date_data in day_low.values():
    low_timming.append(date_data[0])


d1 = {'day_high': high_timming, 'day_low': low_timming}  
timming_df = pd.DataFrame(d1, index = date_list)
d2 = {'time_zone': list(time_zone), 'count':np.zeros(len(time_zone))}
high_time = pd.DataFrame(d2, index = None)
low_time = pd.DataFrame(d2, index = None)

# *************************************************
# 目前格式上有問題，導致 DF 沒辦法找到正確座標作圖
# 需要將 index column 調整好
# *************************************************

# x = timming_df.loc[the_date][0]
# high_time.


# for the_date in date_list:
#     high_time.loc[list(time_zone).index(timming_df.loc[the_date][0])][1] += 1.0
#     low_time.loc[list(time_zone).index(timming_df.loc[the_date][1])][1] += 1

# high_time
    
# finish_df = high_time.join(low_time['count'], lsuffix='_high', rsuffix='_low')
# finish_df

datetime.time(11, 15)

### 四、繪圖

In [168]:
# finish_df.plot(kind='bar',x=finish_df, y='count_high')
# plt.show()