# 找出台指期 每日最高、最低價出現時間點，並統計時間相關性

### 一、引入lib 匯入讀取資料

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

file_name = "期貨高低價時間點/高低點時間.xlsx"
df = pd.read_excel(file_name, header=0)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>日期</th>
      <th>時間</th>
      <th>開盤價</th>
      <th>最高價</th>
      <th>最低價</th>
      <th>收盤價</th>
      <th>成交量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-07-25</td>
      <td>10:15:00</td>
      <td>10876</td>
      <td>10892</td>
      <td>10873</td>
      <td>10879</td>
      <td>7461</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-07-25</td>
      <td>10:30:00</td>
      <td>10879</td>
      <td>10885</td>
      <td>10871</td>
      <td>10881</td>
      <td>4212</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-07-25</td>
      <td>10:45:00</td>
      <td>10883</td>
      <td>10886</td>
      <td>10878</td>
      <td>10883</td>
      <td>2403</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-07-25</td>
      <td>11:00:00</td>
      <td>10882</td>
      <td>10887</td>
      <td>10877</td>
      <td>10884</td>
      <td>2193</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-07-25</td>
      <td>11:15:00</td>
      <td>10884</td>
      <td>10888</td>
      <td>10879</td>
      <td>10882</td>
      <td>1978</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018-07-25</td>
      <td>11:30:00</td>
      <td>10881</td>
      <td>10882</td>
      <td>10866</td>
      <td>10872</td>
      <td>4916</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018-07-25</td>
      <td>11:45:00</td>
      <td>10872</td>
      <td>10874</td>
      <td>10865</td>
      <td>10872</td>
      <td>2557</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018-07-25</td>
      <td>12:00:00</td>
      <td>10872</td>
      <td>10873</td>
      <td>10867</td>
      <td>10870</td>
      <td>1469</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018-07-25</td>
      <td>12:15:00</td>
      <td>10869</td>
      <td>10878</td>
      <td>10869</td>
      <td>10871</td>
      <td>2378</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018-07-25</td>
      <td>12:30:00</td>
      <td>10872</td>
      <td>10877</td>
      <td>10870</td>
      <td>10872</td>
      <td>1472</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018-07-25</td>
      <td>12:45:00</td>
      <td>10873</td>
      <td>10880</td>
      <td>10872</td>
      <td>10876</td>
      <td>3086</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018-07-25</td>
      <td>13:00:00</td>
      <td>10875</td>
      <td>10880</td>
      <td>10868</td>
      <td>10876</td>
      <td>3640</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018-07-25</td>
      <td>13:15:00</td>
      <td>10875</td>
      <td>10876</td>
      <td>10869</td>
      <td>10875</td>
      <td>2808</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018-07-25</td>
      <td>13:30:00</td>
      <td>10875</td>
      <td>10875</td>
      <td>10864</td>
      <td>10865</td>
      <td>3575</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018-07-26</td>
      <td>08:45:00</td>
      <td>10909</td>
      <td>10916</td>
      <td>10903</td>
      <td>10906</td>
      <td>8884</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018-07-26</td>
      <td>09:00:00</td>
      <td>10906</td>
      <td>10920</td>
      <td>10893</td>
      <td>10903</td>
      <td>14375</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018-07-26</td>
      <td>09:15:00</td>
      <td>10904</td>
      <td>10924</td>
      <td>10897</td>
      <td>10918</td>
      <td>9625</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018-07-26</td>
      <td>09:30:00</td>
      <td>10917</td>
      <td>10926</td>
      <td>10895</td>
      <td>10904</td>
      <td>13323</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018-07-26</td>
      <td>09:45:00</td>
      <td>10904</td>
      <td>10910</td>
      <td>10895</td>
      <td>10895</td>
      <td>6499</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018-07-26</td>
      <td>10:00:00</td>
      <td>10895</td>
      <td>10897</td>
      <td>10875</td>
      <td>10880</td>
      <td>13332</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018-07-26</td>
      <td>10:15:00</td>
      <td>10880</td>
      <td>10892</td>
      <td>10873</td>
      <td>10890</td>
      <td>6040</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018-07-26</td>
      <td>10:30:00</td>
      <td>10890</td>
      <td>10895</td>
      <td>10880</td>
      <td>10883</td>
      <td>4402</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018-07-26</td>
      <td>10:45:00</td>
      <td>10884</td>
      <td>10896</td>
      <td>10877</td>
      <td>10891</td>
      <td>5253</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018-07-26</td>
      <td>11:00:00</td>
      <td>10890</td>
      <td>10894</td>
      <td>10885</td>
      <td>10892</td>
      <td>2678</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018-07-26</td>
      <td>11:15:00</td>
      <td>10891</td>
      <td>10893</td>
      <td>10885</td>
      <td>10887</td>
      <td>2420</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018-07-26</td>
      <td>11:30:00</td>
      <td>10888</td>
      <td>10900</td>
      <td>10887</td>
      <td>10895</td>
      <td>3209</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018-07-26</td>
      <td>11:45:00</td>
      <td>10895</td>
      <td>10897</td>
      <td>10889</td>
      <td>10890</td>
      <td>2196</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018-07-26</td>
      <td>12:00:00</td>
      <td>10890</td>
      <td>10896</td>
      <td>10888</td>
      <td>10895</td>
      <td>1329</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018-07-26</td>
      <td>12:15:00</td>
      <td>10895</td>
      <td>10898</td>
      <td>10887</td>
      <td>10897</td>
      <td>2649</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018-07-26</td>
      <td>12:30:00</td>
      <td>10897</td>
      <td>10903</td>
      <td>10893</td>
      <td>10899</td>
      <td>2069</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2259</th>
      <td>2019-01-03</td>
      <td>11:15:00</td>
      <td>9472</td>
      <td>9480</td>
      <td>9460</td>
      <td>9476</td>
      <td>4313</td>
    </tr>
    <tr>
      <th>2260</th>
      <td>2019-01-03</td>
      <td>11:30:00</td>
      <td>9476</td>
      <td>9482</td>
      <td>9468</td>
      <td>9481</td>
      <td>2663</td>
    </tr>
    <tr>
      <th>2261</th>
      <td>2019-01-03</td>
      <td>11:45:00</td>
      <td>9480</td>
      <td>9481</td>
      <td>9465</td>
      <td>9471</td>
      <td>2954</td>
    </tr>
    <tr>
      <th>2262</th>
      <td>2019-01-03</td>
      <td>12:00:00</td>
      <td>9470</td>
      <td>9477</td>
      <td>9468</td>
      <td>9472</td>
      <td>1682</td>
    </tr>
    <tr>
      <th>2263</th>
      <td>2019-01-03</td>
      <td>12:15:00</td>
      <td>9472</td>
      <td>9472</td>
      <td>9463</td>
      <td>9470</td>
      <td>1992</td>
    </tr>
    <tr>
      <th>2264</th>
      <td>2019-01-03</td>
      <td>12:30:00</td>
      <td>9470</td>
      <td>9479</td>
      <td>9462</td>
      <td>9479</td>
      <td>2962</td>
    </tr>
    <tr>
      <th>2265</th>
      <td>2019-01-03</td>
      <td>12:45:00</td>
      <td>9478</td>
      <td>9481</td>
      <td>9470</td>
      <td>9471</td>
      <td>2176</td>
    </tr>
    <tr>
      <th>2266</th>
      <td>2019-01-03</td>
      <td>13:00:00</td>
      <td>9471</td>
      <td>9475</td>
      <td>9440</td>
      <td>9441</td>
      <td>5036</td>
    </tr>
    <tr>
      <th>2267</th>
      <td>2019-01-03</td>
      <td>13:15:00</td>
      <td>9442</td>
      <td>9466</td>
      <td>9440</td>
      <td>9465</td>
      <td>5345</td>
    </tr>
    <tr>
      <th>2268</th>
      <td>2019-01-03</td>
      <td>13:30:00</td>
      <td>9465</td>
      <td>9470</td>
      <td>9438</td>
      <td>9440</td>
      <td>8120</td>
    </tr>
    <tr>
      <th>2269</th>
      <td>2019-01-04</td>
      <td>08:45:00</td>
      <td>9367</td>
      <td>9394</td>
      <td>9355</td>
      <td>9374</td>
      <td>11101</td>
    </tr>
    <tr>
      <th>2270</th>
      <td>2019-01-04</td>
      <td>09:00:00</td>
      <td>9374</td>
      <td>9381</td>
      <td>9341</td>
      <td>9364</td>
      <td>17426</td>
    </tr>
    <tr>
      <th>2271</th>
      <td>2019-01-04</td>
      <td>09:15:00</td>
      <td>9363</td>
      <td>9368</td>
      <td>9308</td>
      <td>9308</td>
      <td>16774</td>
    </tr>
    <tr>
      <th>2272</th>
      <td>2019-01-04</td>
      <td>09:30:00</td>
      <td>9308</td>
      <td>9364</td>
      <td>9305</td>
      <td>9353</td>
      <td>16830</td>
    </tr>
    <tr>
      <th>2273</th>
      <td>2019-01-04</td>
      <td>09:45:00</td>
      <td>9354</td>
      <td>9398</td>
      <td>9350</td>
      <td>9374</td>
      <td>16512</td>
    </tr>
    <tr>
      <th>2274</th>
      <td>2019-01-04</td>
      <td>10:00:00</td>
      <td>9376</td>
      <td>9377</td>
      <td>9341</td>
      <td>9342</td>
      <td>8879</td>
    </tr>
    <tr>
      <th>2275</th>
      <td>2019-01-04</td>
      <td>10:15:00</td>
      <td>9341</td>
      <td>9366</td>
      <td>9331</td>
      <td>9360</td>
      <td>9418</td>
    </tr>
    <tr>
      <th>2276</th>
      <td>2019-01-04</td>
      <td>10:30:00</td>
      <td>9359</td>
      <td>9380</td>
      <td>9348</td>
      <td>9380</td>
      <td>7120</td>
    </tr>
    <tr>
      <th>2277</th>
      <td>2019-01-04</td>
      <td>10:45:00</td>
      <td>9380</td>
      <td>9389</td>
      <td>9367</td>
      <td>9388</td>
      <td>6397</td>
    </tr>
    <tr>
      <th>2278</th>
      <td>2019-01-04</td>
      <td>11:00:00</td>
      <td>9389</td>
      <td>9407</td>
      <td>9377</td>
      <td>9397</td>
      <td>8925</td>
    </tr>
    <tr>
      <th>2279</th>
      <td>2019-01-04</td>
      <td>11:15:00</td>
      <td>9397</td>
      <td>9410</td>
      <td>9388</td>
      <td>9407</td>
      <td>5949</td>
    </tr>
    <tr>
      <th>2280</th>
      <td>2019-01-04</td>
      <td>11:30:00</td>
      <td>9407</td>
      <td>9408</td>
      <td>9382</td>
      <td>9388</td>
      <td>4934</td>
    </tr>
    <tr>
      <th>2281</th>
      <td>2019-01-04</td>
      <td>11:45:00</td>
      <td>9387</td>
      <td>9394</td>
      <td>9381</td>
      <td>9391</td>
      <td>3913</td>
    </tr>
    <tr>
      <th>2282</th>
      <td>2019-01-04</td>
      <td>12:00:00</td>
      <td>9391</td>
      <td>9393</td>
      <td>9381</td>
      <td>9387</td>
      <td>2638</td>
    </tr>
    <tr>
      <th>2283</th>
      <td>2019-01-04</td>
      <td>12:15:00</td>
      <td>9386</td>
      <td>9389</td>
      <td>9376</td>
      <td>9381</td>
      <td>3254</td>
    </tr>
    <tr>
      <th>2284</th>
      <td>2019-01-04</td>
      <td>12:30:00</td>
      <td>9380</td>
      <td>9380</td>
      <td>9356</td>
      <td>9358</td>
      <td>5215</td>
    </tr>
    <tr>
      <th>2285</th>
      <td>2019-01-04</td>
      <td>12:45:00</td>
      <td>9359</td>
      <td>9382</td>
      <td>9356</td>
      <td>9375</td>
      <td>4551</td>
    </tr>
    <tr>
      <th>2286</th>
      <td>2019-01-04</td>
      <td>13:00:00</td>
      <td>9375</td>
      <td>9378</td>
      <td>9361</td>
      <td>9363</td>
      <td>3944</td>
    </tr>
    <tr>
      <th>2287</th>
      <td>2019-01-04</td>
      <td>13:15:00</td>
      <td>9362</td>
      <td>9378</td>
      <td>9359</td>
      <td>9367</td>
      <td>4956</td>
    </tr>
    <tr>
      <th>2288</th>
      <td>2019-01-04</td>
      <td>13:30:00</td>
      <td>9366</td>
      <td>9383</td>
      <td>9362</td>
      <td>9367</td>
      <td>9868</td>
    </tr>
  </tbody>
</table>
<p>2289 rows × 7 columns</p>
</div>

### 二、將每日最高最低價找出來並記錄時間點

In [2]:
day_high = {}
day_low = {}
date_list = df['日期'].unique()

for the_date in date_list:
    # 篩選出同日期的資料 
    new_df = df[df['日期'] == the_date]
    
    # 找出某天最高價位&最低價位的index位置
    high_idx = new_df['最高價'].idxmax()
    low_idx = new_df['最低價'].idxmin()

    # 將當日最高最低價打包成list
    day_high_list = df.iloc[high_idx][['時間', '最高價']]
    day_low_list = df.iloc[low_idx][['時間', '最低價']]
    
    # 同步至外層dict，加上date的 key 值
    day_high.update({date_list[0]: day_high_list})
    day_low.update({date_list[0]: day_low_list})
    
print(day_high, day_low)

{numpy.datetime64('2018-07-25T00:00:00.000000000'): 時間     11:15:00
最高價        9410
Name: 2279, dtype: object} {numpy.datetime64('2018-07-25T00:00:00.000000000'): 時間     09:30:00
最低價        9305
Name: 2272, dtype: object}

### 三、得到 day_high & day_low 字典後，開始進行表格充新整理，以利繪圖

In [4]:
print(day_high)

{numpy.datetime64('2018-07-25T00:00:00.000000000'): 時間     11:15:00
最高價        9410
Name: 2279, dtype: object}